@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 60rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer base {
  * { @apply border-zinc-300 scroll-smooth }

  body { @apply bg-zinc-50 text-zinc-800 font-sans }

  h1 { @apply text-6xl sm:text-7xl font-bold tracking-wider leading-tight }

  h2 { @apply text-5xl sm:text-6xl font-bold tracking-wider leading-tight }

  h3 { @apply text-4xl sm:text-5xl font-light tracking-wider leading-tight }

  h4 { @apply text-3xl sm:text-4xl font-light tracking-wider leading-tight }

  h5 { @apply text-2xl sm:text-3xl font-light tracking-wider leading-tight }

  h6 { @apply text-xl sm:text-2xl font-light tracking-wider leading-tight }

  p { @apply text-base font-light tracking-wider leading-relaxed text-zinc-700 text-pretty }
}

/* Bisa diatur */
::selection { background-color: oklch(90.5% 0.182 98.111) }